@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: #1b1b1b;
    font-family: 'Poppins', sans-serif;
}

#holder{
    background: #39464e;
    width: 300px;
    height: 385px;
    line-height: 30px;
    overflow: hidden;
    margin: 140px auto;
    position: relative;
    border: 1px solid #000;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

#scroll{
    line-height: 30px;
    margin-left: 0;
    padding: 0 0;
}

#scroll li{
    text-align: center;

}

a{
    color: #7f94a1;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover{
    color: #fff;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 35px;

}